
/* https: //colorhunt.co/palette/1b3c53456882d2c1b6f9f3ef */


:root {
  --blue: #1B3C53;
  --beige: #F9F3EF;
}

body {
  margin: 0px;
  background-color: #F9F3EF;
}

body, button, .inputBox {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  
}

h3 {
  color: var(--blue);
}

button {
  background-color: var(--blue);
  color: var(--beige);
  border: 2px solid var(--blue);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

button:hover {
  background-color: var(--beige);
  color: var(--blue);
}

button:active {
  background-color: var(--blue);
  color: var(--beige);
}

#searchButton {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

table {
  border-collapse: collapse;
  background-color: var(--beige);
}

th {
  color: var(--blue);
}

#tableBody tr:hover {
  background-color: var(--blue);
  color: var(--beige);
}

td {
  text-align: right;
  padding-right: 0.5rem;
}

th, td {
  border: 1px solid var(--blue);
  vertical-align: top;
  margin: 0.1em;
  margin-right: 0.2em;
  /*border-top: 1px solid gray;
  border-bottom: 1px solid gray; */
}

.radioButton {
  accent-color: var(--blue);
}

.inputBox {
  border-color: var(--blue);
  border-width: 1px;
  background-color: var(--beige);
}

.tableContainer {
  margin-top: 2rem;
  display: grid;
}


.layout {
  display: flex;
  align-items: flex-start;
}

.leftLayout {
  height: 100%;
  background-color: #D2C1B6;
  min-height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  
}

.leftContent {
  padding: 1rem;
  margin-top: 5rem;
}

.rightLayout {
  flex: 2;
  display: flex;
  gap: 5rem;
}

.inputLayout {
  display: flex;
  margin-bottom: 1rem;
  gap: 1rem;
  text-align: center;
}

.inputHeader {
  margin: 0px;
}

.infoLayout {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.infoHead {
  display: inline;
}
.infoParagraph {
  display: inline;
}

.chartLayout {
  margin: 2rem;
  margin-top: 5rem;
  width: 40vw;
  height: 30rem;
}

.canvas {
  width: 40vw;
}

#barChart {
  background-color: var(--beige);
}


#downloadChartButton {
  margin-left: 3rem;
}

#map {
  margin-top: 7rem;
  height: 25rem;
  width: 25rem;
  border: 2px solid var(--blue);
}